---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Cours de Web 3 2025-2026 - Goals',
  ignoreTitleTemplate: true,
};
---

qfds
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      <span class="text-accent dark:text-white">Evaluation</span>
    </Fragment>
  </Hero>
  <Fragment>
    <section class="px-6 sm:px-6 py-12 sm:py-10 lg:py-10 mx-auto max-w-4xl">
      <h2 class="text-3xl font-bold mb-4">Exam (75%)</h2>
      <p class="my-4">
        The majority (75%)of the points are going to be given during the exam. It will consist on a code review
        exercise, where you'll have to read some code and give feedback on it. The exam will be done on a school
        computer, with limited or no access to internet (notably you won't have access to any AI).
      </p>
    </section>

    <section class="px-6 sm:px-6 py-12 sm:py-10 lg:py-10 mx-auto max-w-4xl">
      <h2 class="text-3xl font-bold mb-4">Group Project (20%)</h2>
      <p class="my-4">
        Around the fifth week of the course, a group project will be initiated. This project is designed to encourage
        collaboration and deepen your understanding of web technologies. The project will be done in groups of 4-5
        students, and each group will select a topic related to a framework, technology, or language not covered in the
        regular curriculum. The goal is to explore new areas and broaden your technical horizons.
      </p>
      <p class="my-4">
        For the end of the 5th week, groups must be formed and topics validated. Students can then start working on the
        topic alongside the course. They will need to produce a video of at least 15 minutes that presents the
        technology, its strengths, weaknesses, use cases... A git repository must be made available with examples of the
        technology's application.
      </p>
      <p class="my-4">
        The teachers will evaluate the videos. The rest of the group may be asked to provide feedback on a given number
        of videos. The project result and evaluation is final and cannot be presented again in August.
      </p>
    </section>

    <section class="px-6 sm:px-6 py-12 sm:py-10 lg:py-10 mx-auto max-w-4xl">
      <h2 class="text-3xl font-bold mb-4">Feedback Exercise (5%)</h2>
      <p class="my-4">
        A feedback exercise will account for 5% of the total points. Each student will be required to provide at least 5
        feedbacks to at least 2 other projects through a review system. This exercise is designed to develop your
        critical thinking skills and ability to provide constructive feedback on technical work.
      </p>
      <p class="my-4">
        The reviews will be evaluated based on three key criteria: clarity (how well-structured and understandable your
        feedback is), maturity (the depth and technical insight of your comments), and helpfulness (how useful your
        suggestions are for improving the project). Quality feedback should be specific, actionable, and respectful
        while highlighting both strengths and areas for improvement.
      </p>
    </section>
  </Fragment>
</Layout>
