---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Cours de Web 3 2025-2026',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Go to lessons',
        href: getPermalink('/blog'),
        icon: 'tabler:school',
      },
      {
        text: 'Voir sur Moovin',
        href: 'https://moodle.vinci.be/course/view.php?id=494',
        target: '_blank',
        icon: 'tabler:external-link',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white"> Web 3</span> course: TypeScript, Express, React, and other modern web technologies
    </Fragment>

    <Fragment slot="subtitle">
      Course materials, exercises, and other useful information for the 2025-2026 academic year.
    </Fragment>
  </Hero>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="Latest Articles" count={7} />
</Layout>
