---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Cours de Web 3 2025-2026 - Goals',
  ignoreTitleTemplate: true,
};
---

qfds
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      <span class="text-accent dark:text-white">Teachers</span>
    </Fragment>
  </Hero>
  <Fragment>
    <section class="px-6 sm:px-6 py-12 sm:py-10 lg:py-10 mx-auto max-w-4xl">
      <h2 class="text-3xl font-bold mb-4">By developers, for developers</h2>
      <p class="my-4">
        Both Philippe and Martin are seasoned developers before being teachers. They have a deep understanding of modern
        web technologies and bring real-world experience to the classroom.
      </p>
    </section>

    <section class="px-6 sm:px-6 py-12 sm:py-10 lg:py-10 mx-auto max-w-4xl">
      <h2 class="text-3xl font-bold mb-4">About Philippe</h2>
      <p class="my-4">Philippe is the CTO of Nodalview and a CTO coach.</p>
      <ul>
        <li><a class="underline" href="https://www.provide-srl.com/m">Website</a></li>
        <li><a class="underline" href="https://www.linkedin.com/in/philippevaneerdenbrugghe">LinkedIn</a></li>
      </ul>
    </section>

    <section class="px-6 sm:px-6 py-12 sm:py-10 lg:py-10 mx-auto max-w-4xl">
      <h2 class="text-3xl font-bold mb-4">About Martin</h2>
      <p class="my-4">
        Martin is a former CTO at various impact driven startups and a freelance developer, those day working a lot with
        Python and TypeScript.
      </p>
      <ul>
        <li><a class="underline" href="https://www.joyouscoding.com">Website</a></li>
        <li><a class="underline" href="https://www.linkedin.com/in/martinvanaken">LinkedIn</a></li>
      </ul>
    </section>
  </Fragment>
</Layout>
